<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>KaiAdmin - Panel</title>

    <!-- Fontlar ve CSS -->
    <link href="~/kaiadmin-lite-1.2.0/assets/css/fonts.min.css" rel="stylesheet" />
    <link href="~/kaiadmin-lite-1.2.0/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/kaiadmin-lite-1.2.0/assets/css/kaiadmin.min.css" rel="stylesheet" />
    <link href="~/kaiadmin-lite-1.2.0/assets/css/plugins.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <div class="main-header" data-background-color="blue">
            <div class="logo-header">
                <a href="/" class="logo text-white">KaiAdmin</a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button">
                    <span class="navbar-toggler-icon"><i class="icon-menu"></i></span>
                </button>
            </div>
             <nav class="navbar navbar-header navbar-expand-lg">
                 <div class="container-fluid">
                    <div class="dropdown Logined">
                        <img class="mx-4" src="/kaiadmin-lite-1.2.0/assets/img/profile.jpg" alt="user-img"
                             width="36" class="img-circle">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="UserName" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
                        </button>
                     
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a 
                              
                               data-bs-toggle="modal"
                               data-bs-target="#logout" class="dropdown-item" href="#">Oturumu Kapat</a>
                        </div>
                    </div>
                 </div>
   
             </nav>
        </div>

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2">
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-primary">
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                            <a asp-action="Index"><i class="fas fa-home"></i><p>Ana Sayfa</p></a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Categories" ? "active" : "")">
                            <a asp-action="Categories"><i class="fas fa-list"></i><p>Kategoriler</p></a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Courses" ? "active" : "")">
                            <a asp-action="Courses"><i class="fas fa-list"></i><p>Kurslar</p></a>
                        </li>
                        <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Lessons" ? "active" : "")">
                            <a asp-action="Lessons"><i class="fas fa-book"></i><p>Dersler</p></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
                    

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright text-center">
                        <span>Copyright &copy; 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
                <!-- /.container-fluid -->

            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <!-- Logout Modal -->
    <!-- Modal -->
    <div class="modal fade"
         id="logout"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="exampleModalLabel">Oturumu kapatmak istedğinizden emin misiniz?</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        İptal Et
                    </button>
                    <button type="button" class="btn btn-success text-black" id="Logout">Oturumu Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
                    <script src="~/kaiadmin-lite-1.2.0/assets/js/core/jquery-3.7.1.min.js"></script>
                    <script src="~/kaiadmin-lite-1.2.0/assets/js/core/popper.min.js"></script>
                    <script src="~/kaiadmin-lite-1.2.0/assets/js/core/bootstrap.min.js"></script>
                    <script src="~/kaiadmin-lite-1.2.0/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
                    <script src="~/kaiadmin-lite-1.2.0/assets/js/plugin/jquery-scrollLock/jquery-scrollLock.min.js"></script>
                    <script src="~/kaiadmin-lite-1.2.0/assets/js/kaiadmin.min.js"></script>
                    <script src="~/js/site.js"></script>

                    <script>
                        $(document).ready(function () {
                            checkAuthStatus();

                            function checkAuthStatus() {
                                const token = localStorage.getItem('token');
                                if (token) {
                                    $('.NotLogined').hide();
                                    $('.Logined').show();
                                    try {
                                        const tokenData = JSON.parse(atob(token.split('.')[1]));
                                        $('#UserName').text(tokenData.name);
                                    } catch (e) {
                                        console.error('Token parse error:', e);
                                    }
                                } else {
                                    $('.NotLogined').show();
                                    $('.Logined').hide();
                                }
                            }

                            $('#logoutButton').click(function (e) {
                                e.preventDefault();
                                localStorage.removeItem('token');
                                window.location.href = '/Login';
                            });
                        });
                    </script>

                    @* Sayfa özel scriptleri burada çalışacak *@
                    @RenderSection("Scripts", required: false)

    @* Sayfa özel scriptleri burada çalışacak *@

</body>



</html>